name: sync-changes-sigstore-conformance

on:
  workflow_dispatch:
    inputs:
      preview:
        description: "Dry run of the Pulumi changes"
        required: false
        default: false
        type: boolean
  push:
    branches:
      - main
    paths:
      - 'github-sync/github-data/sigstore-conformance/*.yaml'
      - 'github-sync/Pulumi.github-sigstore-conformance.yaml'

permissions: {}

env:
 PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
 GITHUB_OWNER: sigstore-conformance

jobs:
  Update:
    name: sync-changes-sigstore-conformance
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
    - uses: sigstore/github-sync@main
      if: ${{ inputs.preview }}
      with:
        work_dir: ./github-sync
        config_directory: ./github-sync/github-data
        stack_name: sigstore/github-sigstore-conformance
        pulumi_access_token: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        pulumi_command: preview
        gh_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: sigstore/github-sync@main
      if: ${{ !inputs.preview }}
      with:
        work_dir: ./github-sync
        config_directory: ./github-sync/github-data
        stack_name: sigstore/github-sigstore-conformance
        pulumi_access_token: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        pulumi_command: up
        gh_token: ${{ secrets.GITHUB_TOKEN }}
