name: preview-changes

on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'github-sync/github-data/sigstore-conformance/*.yaml'
      - 'github-sync/Pulumi.github-sigstore-conformance.yaml'

permissions: {}

env:
 PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
 GITHUB_OWNER: sigstore-conformance

jobs:
  preview:
    name: changes-sigstore-conformance
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        persist-credentials: false

    - uses: sigstore/github-sync@main
      with:
        work_dir: ./github-sync
        config_directory: ./github-sync/github-data
        stack_name: sigstore/github-sigstore-conformance
        pulumi_access_token: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        pulumi_command: preview
        gh_token: ${{ secrets.GITHUB_TOKEN }}
        comment_on_pr: true
