name: 'Dependency Review'
on:
  workflow_call:
    inputs:
      fail-on-severity:
        type: string
        description: "Configure the severity level for vulnerability alerting. Possible values: critical, high, moderate, low."
        default: "high"
      allow-ghsas:
        type: string
        description: "A comma separated list of any GitHub Advisory IDs that can be skipped during detection. Example: 'GHSA-abcd-1234-5679, GHSA-efgh-1234-5679'"
      allow-deps:
        type: string
        description: "A comma separated list of packages to exclude from the check, specified in purl format"

permissions:
  contents: read

jobs:
  dependency-review:
    name: Scan dependencies for license compliance and vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@6c5ccdad469c9f8a2996bfecaec55a631a347034 # v3.1.0
        with:
          fail-on-severity: ${{ inputs.fail-on-severity }}
          allow-ghsas: ${{ inputs.allow-ghsas }}
          allow-dependencies-licenses: ${{ inputs.allow-deps }}
          deny-licenses: GPL-3.0, AGPL-3.0, LGPL-3.0 # these are hardcoded to be compliant with sigstore/community/LICENSING.md
